<div class="row">
    <div class="col-md-5">
        <h4>Create Project</h4>
        <div class="input-group">
            <input ng-model="project.projectName" type="text" class="form-control" placeholder="Enter project name">
            <input ng-model="project.deadline" type="date" class="form-control">
            <span class="input-group-btn">
                <button ng-click="createProject(project)" class="btn btn-default" type="button">Create</button>
            </span>
        </div>
        <h5>{{projectCreated}}</h5>
    </div>
</div>