<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button> <a class="navbar-brand" href="#">TIVAL</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" ui-sref="login">Account</a>
            </li>
            <li>
                <a href="#" ui-sref="home">Home</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <!-- header section -->
    <div id="builder-project">

        <div class="page-header">
            <div class="row">
                <div class="col-md-4">
                    <img src="/assets/tival-logo-rgb.png" alt="logo" width="202px">
                    <h2>{{projectTitle}}</h2>
                </div>
                <div class="col-md-8">
                    <img src="/assets/homepicture.jpg" width="100%" height="200px" alt="header">
                </div>
            </div>
        </div>

        <!-- Site -->
        <div class="row">

            <div class="col-md-6 well well-white">

                <a href="#/project/{{projectKey}}"><button class="btn btn-default">Tillbaka</button></a>


                <form class="form-horizontal" role="form" ng-if="customer" name="customerForm" ng-disabled="customer.confirmed">
                <h3>Ange uppgifter</h3>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="appNr" class="">Lägenhetsnummer *</label>
                            <input type="text" class="form-control" id="appNr" placeholder="#" ng-model="customer.appartmentnumber" ng-disabled="customer.confirmed" required />
                        </div>
                        <div class="form-group">
                            <label for="name1" class="">Köpare 1 *</label>
                            <input type="text" class="form-control" id="name1" placeholder="Förnamn Efternamn" ng-model="customer.customerOne" ng-disabled="customer.confirmed" required />
                        </div>
                        <div class="form-group">
                            <label for="name2" class="">Köpare 2</label>
                            <input type="text" class="form-control" id="name2" placeholder="Förnamn Efternamn" ng-model="customer.customerTwo" ng-disabled="customer.confirmed" />
                        </div>
                        <div class="form-group">
                            <label for="email" class="">Epost *</label>
                            <input type="email" class="form-control" id="email" placeholder="exempel@exempel.se" ng-model="customer.email" ng-disabled="customer.confirmed" required />
                        </div>
                        <div class="form-group">
                            <label for="phone" class="">Telefon *</label>
                            <input type="text" class="form-control" id="phone" placeholder="+46700000000" ng-model="customer.phone" ng-disabled="customer.confirmed" required />
                        </div>
                    </div>
                    <button class="btn btn-default" ng-click="saveAndConfirm()" ng-disabled="!customerForm.$valid || customer.confirmed">Slutför</button>

                </form>




            </div>

            <!--<div class="col-md-5">

                <h2>2. Sammanfattning</h2>

                <ul class="list-group">
                    <li class="list-group-item">
                            <span ng-repeat="item in cart">
                                {{item.categoryItemTitle}}: {{item.title}}<span class="pull-right">{{ htmlHelper.formatPrice(item.price) + htmlHelper.priceSuffix()}}</span><br>
                            </span>
                    </li>
                    <li class="list-group-item" ng-if="totalPrice">
                            <span>
                                <label>Total</label><span class="pull-right">{{ htmlHelper.formatPrice(totalPrice.$value) + htmlHelper.priceSuffix()}}</span>
                            </span>
                    </li>
                </ul>



            </div>-->

            <div class="col-md-6 well well-white" ng-show="customer.confirmed">
                <div class="well well-white">
                    <h3>Ladda ner PDF</h3>
                    <button class="btn btn-default" ng-click="downloadPDF()">Ladda ner</button>
                </div>
                <div class="well well-white">
                    <h3>Skicka till e-post</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="e-post" ng-model="sendAsMail" />
                    </div>
                    <button class="btn btn-default" ng-click="sendEmail()">Skicka</button>
                </div>
            </div>
        </div>

    </div>
</div>
