<!-- header section -->
<div id="builder-project">
    <ul class="nav nav-tabs">
        <span class="builder-title"></span>
        <li class="pull-right" role="presentation"><a ui-sref="login">Account</a></li>
        <li class="pull-right" role="presentation"><a ui-sref="landing">Home</a></li>
    </ul>

    <a href="#/project/{{projectKey}}">
    <div class="page-header">
        <div class="row">
            <div class="col-md-5">
                <img src="http://www.hsbhbg.se/~/media/Subsites/Gustavslund/Logotype%202%20Gustavslund.gif" alt="" width="202px">
                <h1>{{projectTitle}}</h1>
            </div>
            <div class="col-md-7">
                <img src="http://www.hsbhbg.se/~/media/Subsites/Gustavslund/Exterior-1-610.jpg?mw=810&w=610" width="100%" height="200px" alt="">
            </div>
        </div>
    </div>
    </a>

    <!-- Site -->
    <div class="row">

        <div class="col-md-4">

            <h2>1. Ange uppgifter</h2>

            <form class="form-horizontal" role="form" ng-if="customer">

                <div class="form-group" ng-class="{'has-error': (!customer.appartmentnumber && validateCustomer), 'has-success': customer.appartmentnumber}">
                    <label for="appNr" class="col-xs-5 control-label">Lägenhetsnummer:</label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" id="appNr" placeholder="#" ng-model="customer.appartmentnumber" ng-change="customer.$save()" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': (!customer.customerOne && validateCustomer), 'has-success': customer.customerOne}">
                    <label for="name1" class="col-xs-3 control-label">Boende1</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="name1" placeholder="Förnamn Efternamn" ng-model="customer.customerOne" ng-change="customer.$save()" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': customer.customerTwo}">
                    <label for="name2" class="col-xs-3 control-label">Boende2</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="name2" placeholder="Förnamn Efternamn" ng-model="customer.customerTwo" ng-change="customer.$save()" />
                    </div>
                </div>
            </form>

            <a href="#/project/{{projectKey}}"><button class="btn btn-primary">Tillbaka</button></a>

        </div>

        <div class="col-md-4">

            <h2>2. Sammanfattning</h2>

            <ul class="list-group">
                <li class="list-group-item">
                        <span ng-repeat="item in cart">
                            {{item.categoryTitle}}: {{item.title}}<span class="pull-right">{{ htmlHelper.formatPrice(item.price) + htmlHelper.priceSuffix()}}</span><br>
                        </span>
                </li>
                <li class="list-group-item" ng-if="totalPrice">
                        <span>
                            <label>Total</label><span class="pull-right">{{ htmlHelper.formatPrice(totalPrice.$value) + htmlHelper.priceSuffix()}}</span>
                        </span>
                </li>
            </ul>



        </div>

        <div class="col-md-4">
            <h2>3. Ladda ner PDF</h2>
            <p></p>
            <p></p>
            <button class="btn btn-primary" ng-click="downloadPDF()">Download PDF</button>
        </div>


    </div>

</div>
