body {
    background-color: #FFF;
    padding: 0px;
    margin: 0px;
}
.container {
    background-color: #fff;
    min-height: 101vh;
    box-shadow: 0 0 5px 0px #EEE;
}
.navbar {
    margin-bottom:0;
}
.navbar-default {
    background-color:#FFF;
}

.well.well-white {
    background-color: #fff;
}