/* PROJECT */
#builder-project {
  * {
    border-radius: 0!important;
  }

  .logo {
    cursor: pointer;
  }

  .btn:not(.btn-default) {
    color: #fff;
  }
  .panel-default>.panel-heading {
    background-color: #26b6b4;
    color: #fff;
  }
  /* BUTTONS */
  .btn-builder {
    background-color: #adadad;
  }
  .btn-builder:hover {
    background-color: #597DD0;
  }
  .btn-builder-active {
    background-color: #1748B8;
  }
  a.list-group-item:hover {
    background-color: #fff;
  }
  .page-header {
    padding-bottom:10px;
    margin:10px 0 10px;
  }

  .panel-thumbnail {
    min-height: 170px;
  }

  /** optionItem **/
  .option-inner {
    border: 1px solid #ededed;
    padding: 15px;
    margin-bottom: 15px;
  }

  .option-inner > * {
    width: 100%;
  }

  .option-inner div:not(.imgholder) {
    text-align: right;
  }

  .option-inner div span {
    font-size: 16px;
  }

  .option-overlay {
    transition: max-height 0.25s ease-out;
    position:relative;
    background:#26b6b4;
    overflow: hidden;
    color:#FFF;
    max-height:0;
    width:100%;
    font-weight:bold;
    z-index:10001;
    cursor:pointer;
    &.hovering {
      transition: max-height 0.35s ease-in;
      max-height:300px;
    }
  }
  .option-inner .option-description {
    max-height: 60px;
    min-height: 40px;
    font-size: 12px;
    //white-space: pre-line;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    cursor:pointer;
    &:hover {
      text-decoration:underline;
      color:#26b6b4;
    }
  }

  .option-inner .imgholder {
    text-align: center;
    height: 140px;
  }

  .option-inner h4 {
    font-size: 16px;
  }

  .new-line {
    width: 100%;
    float: left;
  }

  .imgholder img {
    cursor: pointer;
    max-height: 140px;
    display: inline-block;
    //max-width: 180px;
  }

  .white-border {
    border: 1px solid #ccc;
    padding: 2px 7px 2px 7px;
  }

  .glyphicon:not(.glyphicon-remove-circle) {
    color: #26b6b4;
  }

  .glyphicon-remove-circle {
    color: rgba(205, 78, 35, 0.79)
  }

  .glyphicon-ok-circle, .glyphicon-remove-circle {
    font-size: 20px;
  }

}

.btn-builder-link {
  background-color: #74DADA;
  color: #fff;
}
.btn-builder-link:hover {
  background-color: #04A9A9;
  color: #fff;
}

.modal.project-summary-modal {
  label {
    margin: 10px 0px 0px 0px;
  }
}


@media print {
  .page-header { display: none; }
}