/*
GENERAL
*/
body {
    color:#000;
    padding:0;
    margin:0;
}
.nav-tabs>li {
    float:right;
}
.row {
    margin-right:0;
}
/*
LANDING
*/
.builder-landing-center {
    text-align:center;
}
.builder-landing-center h2 {
    margin-top:50px;
    margin-bottom:20px;
}
.builder-landing-center .form-control {
    width:30%;
    display:inline-block;
}
.builder-landing-center .btn {
    vertical-align:initial;
}
/*
ACCOUNT
*/
ul.builder-account-menu {
    padding:0;
    border-right:1px solid #CCC;
    color:#337ab7;
}
.builder-account-menu li {
    border-bottom:1px solid #CCC;
    padding:15px;
    list-style-type:none;
}
.builder-account-menu li:hover {
    background:#EAEAEA;
    cursor:pointer;
}

.builder-account-list.list-group li:hover {
    background:#EAEAEA;
    cursor:pointer;
}
/*
MAIN
*/