<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-sm btn-success margin-b-10" ng-click="addCategory()"> + Add Category </button>
            </div>
        </div>

        <span ng-if="!categories.length > 0">
            <img src="../src/loader.gif">
        </span>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="category in categories" ng-click="getItems(category.$id)">
                <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c-{{$index}}">
                    <h4 class="panel-title pull-left">
                        {{category.title}}
                    </h4>
                    <button class="btn btn-success btn-xs pull-right" ng-click="addItem(category.$id)">+ Add Item</button>
                    <div class="clearfix"></div>
                </div>
                <div id="c-{{$index}}" class="panel-collapse collapse">
                    <div class="panel-body" ng-repeat="item in categoryItems">
                        <h5 class="pull-left">{{item.title}}</h5><br>
                        <div class="btn-group pull-right">
                            <button class="btn btn-xs btn-danger">Delete</button>
                            <button ng-click="enterCategoryItem(item.key)" class="btn btn-xs btn-primary">Open</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">



    </div>
</div>