<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-sm btn-success margin-b-10" ng-click="toggleModal('category')"> + Add Category </button>
            </div>
        </div>

        <span ng-if="!categories.length > 0">
            <img src="../src/loader.gif">
        </span>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="category in categories" >
                <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" ng-click="getItems(category.$id)" href="#c-{{$index}}">
                    <h4 class="panel-title pull-left">
                        {{category.title}}
                    </h4>
                    <button class="btn btn-success btn-xs pull-right" ng-click="toggleModal('item', category.$id)">+ Add Item</button>
                    <div class="clearfix"></div>
                </div>
                <div id="c-{{$index}}" class="panel-collapse collapse">
                    <div class="panel-body" ng-repeat="item in categoryItems">
                        <h5 class="pull-left">{{item.title}}</h5><br>
                        <div class="btn-group pull-right">
                            <button class="btn btn-xs btn-danger">Delete</button>
                            <button ng-click="enterCategoryItem(item, category.title)" class="btn btn-xs btn-primary">Open</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3" ng-if="selectedItem">

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-sm btn-success margin-b-10" ng-click="toggleModal('option', selectedItem.key)"> + Add Option </button>
            </div>
        </div>

        <div class="panel-heading">
            <h4 class="panel-title">
                <a >
                    {{selectedItem.title}}
                </a>
            </h4>
        </div>

        <div class="panel-group" id="accordian1">

            <div ng-class="{'panel-default': item.active, 'panel-warning': !item.active}" class="panel accordion-toggle" ng-repeat="item in itemOptions">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion1" href="#oc-{{$index}}">
                    <h4 class="panel-title">
                        <img ng-if="imgCategory && imgItem" src="http://skenderovic.se/tillval/{{imgCategory}}/{{imgItem}}/{{item.title}}.png" width="32px" alt="">
                        <a>{{item.title}}</a>
                        <span ng-if="item.default" class="label label-default">Standard</span>
                        <span class="pull-right">{{item.price}}:-</span>
                    </h4>
                </div>
                <div id="oc-{{$index}}" class="panel-collapse collapse">
                    <div class="panel-body">

                        <form class="form-horizontal">

                            <div class="form-group">

                                <label class="control-label">Active</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-checked="item.active" ng-model="item.active">Ja
                                    </label>
                                </div>

                                <label class="control-label">Title</label>
                                <input type="text" class="form-control" placeholder="Title" ng-model="item.title">

                                <label class="control-label">Price</label>
                                <input type="number" class="form-control" placeholder="Price" ng-model="item.price">

                                <label class="control-label">Förvald?</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-checked="item.default" ng-model="item.default">Ja
                                    </label>
                                </div>

                                <label class="control-label">Description</label>
                                <textarea class="form-control" rows="3" placeholder="Info om" ng-model="item.desc"></textarea>

                                <div class="col-xs-12">
                                    <span class="btn btn-default btn-file">
                                    + Upload images  <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" />
                                    </span>

                                    <p></p>
                                    <div class="col-xs-3" ng-repeat="image in item.optionImages">
                                        <button ng-click="deleteOptionImg($index, item)">Delete</button>
                                        <button ng-click="makePrimaryImg($index, item)">Make primary</button><br>
                                        <img class="thumb" ng-src="{{image}}" />
                                    </div>
                                </div>


                                <button class="btn btn-xs btn-danger">Delete</button>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-xs btn-danger">Cancel</button>
                                    <button data-toggle="collapse" href="#oc-{{$index}}" ng-click="saveOptionItem(item)" class="btn btn-xs btn-success">Save</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <modal title="Add Category" visible="modalAddCategory">
        <form role="form">
            <div class="form-group">
                <input ng-model="addCategoryData.title" type="text" class="form-control" id="addcategory" placeholder="Category" />
            </div>
            <button type="submit" class="btn btn-default" ng-click="addCategory(addCategoryData)">Add</button>
        </form>
    </modal>

    <modal title="Add Item" visible="modalAddItem">
        <form role="form">
            <div class="form-group">
                <input ng-model="addItemData.title" type="text" class="form-control" id="additem" placeholder="Item" />
            </div>
            <button type="submit" class="btn btn-default" ng-click="addItem(addItemData)">Add</button>
        </form>
    </modal>

    <modal title="Add Option" visible="modalAddOption">
        <form role="form">
            <div class="form-group">
                <input ng-model="addOptionData.title" type="text" class="form-control" id="addoption" placeholder="Option" />
            </div>
            <button type="submit" class="btn btn-default" ng-click="addOption(addOptionData)">Add</button>
        </form>
    </modal>

</div>
