<ul class="nav nav-tabs">
    <span class="builder-title">{{projectTitle}}</span>
    <li role="presentation"><a ui-sref="account.myprojects">Account</a></li>
    <li role="presentation"><a ui-sref="landing">Home</a></li>
</ul>
<div class="row margin-t-10">
    <div class="col-md-2">
        <div id="leftSelect" ng-repeat="category in AllCategories">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{category.Category.title}}</h3>
                </div>
                <ul class="list-group" ng-repeat="item in category.Items">
                    <a href="" ng-click="getOptions(category.Category.title, item)" class="list-group-item">{{item.title}}</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-sm-3" ng-repeat="option in itemOptions | onlyActive">
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><img check-image ng-src="http://skenderovic.se/tillval/{{imgCategory}}/{{imgItem}}/{{option.title}}.png" class="img-responsive"></div>
                    <div class="panel-body">
                        <p class="lead">{{option.title}}</p>
                        <p>{{option.desc}}</p>
                        <p>
                            <div class="card-footer text-muted">
                                <button class="btn" ng-class="(currentCat.selectedOption == option) ? 'btn-builder-active':('btn-builder')" ng-click="pick(option, currentCat)">Välj denna</button>
                                <span class="pull-right">Pris: {{option.price}}</span>
                            </div>
                        </p>
                    </div>
                </div>
            </div><!--/col-->
        </div><!--/row-->
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sammanfattning</h3>
            </div>
            <ul class="list-group" ng-repeat="category in AllCategories">
                <li class="list-unstyled builder-list" ng-repeat="item in category.Items">
                    {{item.title}}:<span> {{item.selectedOption.title}}</span> <span class="pull-right">{{item.selectedOption.price}}</span>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    Total:<span class="pull-right">{{getTotal()}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>