<div id="project">
    <!-- börjar här -->
    <div class="wrapper">
        <header>
            <img src="/assets/tival-logo-rgb-white.png" alt="Tillvalshantering">
        </header>

        <main>
            <br>
            <br>
            <br>
            <br>
            <br>

            <!-- MAIN MENU -->
            <div class="flex-row flex-start">
                <div class="circle-container" ng-repeat="category in allCategories" ng-class="[categoryClass, {active: category.selected, complete: checkForComplete(category)}]"
                    ng-click="selectCategory(category)">
                    <div class="circle">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="line">&nbsp;</div>
                    <label>{{category.title}}</label>
                </div>

            </div>

            <!-- SUBCAT -->
            <div class="flex-row flex-start">

                <div class="circle-container subcircle" ng-repeat="subCategory in currentSubCategory.categoryItems" ng-class="[subCategoryClass, {active: subCategory.selected, complete: inCart(subCategory.key)}]"
                    ng-click="getItemOptions(subCategory)">
                    <div class="circle">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="line">&nbsp;</div>
                    <label>{{subCategory.title}}</label>
                </div>

            </div>


            <!-- MAIN CONT -->
            <div class="flex-row" ng-if="!showStartPage">

                <!-- all optionItems -->
                <div ng-repeat="group in itemOptions" class="flex-row flex-start w100">

                    <h4 class="w100">
                        <span class="white-border">{{ group.name }}</span>
                    </h4>

                    <!-- item -->
                    <div ng-repeat="option in group.items | onlyActive" class="option-item-container w4">

                        <img ng-src="{{option.image}}" ng-click="zoomItemOption(option, true)" alt="">
                        <h3>{{option.title}}</h3>

                        <p>{{option.desc}}</p>

                        <div class="flex-row space-between w100">
                            <button class="btn btn-block btn-xs" ng-if="!customer.confirmed" ng-class="(cart[currentCategory.$id][currentCategoryItem.key].key == option.key) ? 'active':''"
                                ng-click="selectOption(option, currentCategoryItem)">
                                <!-- <i class="fas fa-shopping-cart"></i> -->
                                {{ (cart[currentCategory.$id][currentCategoryItem.key].key == option.key) == true ? 'Vald' : 'Välj'; }}
                            </button>
                            <div>{{htmlHelper.formatPrice(option.price)}} {{htmlHelper.priceSuffix()}}</div>
                        </div>

                    </div>
                </div>
            </div>


        </main>
    </div>

</div>