<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button> <a class="navbar-brand" href="#">TIVAL</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <!--<li>
                <a href="https://tival-admin.firebaseapp.com">Account</a>
            </li>
            <li>
                <a href="#" ui-sref="home">Home</a>
            </li>-->
        </ul>
    </div>
</nav>
<div class="container">
    <!-- header section -->
    <div id="builder-project">
        <div class="page-header">
            <div class="row">
                <div class="col-md-4">
                    <img src="/assets/tival-logo-rgb.png" alt="logo" width="202px">
                    <h2>{{projectTitle}}</h2>
                    <h4>{{daysUntilDeadline}}</h4>
                </div>
                <div class="col-md-8">
                    <img src="/assets/homepicture.jpg" width="100%" height="250px" alt="header">
                </div>
            </div>
        </div>

        <!-- Site -->

        <!-- Summary -->
        <div class="row summarypage" ng-if="customer.confirmed">
            <div class="col-md-12">
                <h2>Tack för din beställning!</h2>
                <br>
                <p>Din beställning kommer att gå iväg till din email. Vänligen kolla er skräppost. Ni kan välja att skriva ut eller spara sammanfattningen som pdf, nedan</p>
                <p>Har ni någon mer information kan ni kontakta kundtjänst på <a href="mailto:info@tival.se">info@tival.se</a> eller <b>042 - 000 000</b></p>

                <button class="btn btn-default" ng-click="printPage()">Skriv ut</button>
                <button class="btn btn-default" ng-click="downloadPDF()">Ladda ner PDF</button>

                <hr>
            </div>

            <div class="col-md-12">
                <h4>Dina uppgifter</h4>
                <table class="table table-striped">

                    <tbody>
                    <tr>
                        <td><label>Namn: </label> {{customer.customerOne}}</td>
                    </tr>
                    <tr>
                        <td><label>Bostadsnummer: </label> {{customer.appartmentnumber}}</td>
                    </tr>
                    <tr>
                        <td><label>Telefon: </label> {{customer.phone}}</td>
                    </tr>
                    <tr>
                        <td><label>Email: </label> {{customer.email}}</td>
                    </tr>
                    <tr>
                        <td><label>Datum: </label> {{customer.date}}</td>
                    </tr>
                    </tbody>
                </table>

                <br>

                <h4>Dina tillval</h4>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Kategori</th>
                        <th>Objekt</th>
                        <th>Ditt val</th>
                        <th>Pris</th>
                        <th>Total</th>
                    </tr>
                    </thead>

                    <tbody ng-repeat="categoryItems in cartArray">
                    <tr>
                        <th>{{categoryItems.categoryTitle}}</th>
                    </tr>
                        <tr ng-repeat="item in categoryItems" ng-if="categoryItems.categoryTitle != item">

                            <td></td>
                            <td>{{item.categoryItemTitle}}</td>
                            <td>{{item.title}}</td>
                            <td>{{htmlHelper.formatPrice(item.price) + ' ' + htmlHelper.priceSuffix()}}</td>
                            <td></td>

                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{htmlHelper.formatPrice(totalPrice + ' ' + htmlHelper.priceSuffix() )}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <!-- /Summary -->

        <div class="row" ng-if="!customer.confirmed">

            <!-- Left col -->
            <div class="col-md-2">
                <div class="panel panel-default" ng-repeat="category in allCategories">
                    <div class="panel-heading">{{category.title}}</div>
                    <ul class="list-group">
                        <a href class="list-group-item" ng-repeat="item in category.categoryItems" ng-click="getItemOptions(item, category)">{{item.title}}</a>
                    </ul>
                </div>
            </div>


            <!-- MAIN CONT -->
            <div class="col-md-8">

                <!-- ** New Template ** -->
                <div class="row">

                    <!-- item -->
                    <div ng-repeat="option in itemOptions" ng-if="itemOptions.length > 1">

                        <div class="new-line" ng-show="itemOptions[$index-1].default != option.default">
                            <div class="col-md-12">
                                <h4 ng-show="option.default">Standard</h4>
                                <h4 ng-show="!option.default">Tillval</h4>
                            </div>
                        </div>

                        <div class="col-md-4 option-item">

                            <div class="option-inner">

                                <div class="imgholder">
                                    <img ng-src="https://process.filestackapi.com/Axj8r9t8RAKP5R3oUw8J9z/resize=width:200,height:200,fit:clip/{{option.image}}" ng-click="zoomItemOption(option, true)">
                                </div>

                                <h4>{{option.title}}</h4>

                                <p class="option-description">{{option.desc}}</p>

                                <div><span>{{htmlHelper.formatPrice(option.price)}} {{htmlHelper.priceSuffix()}}</span></div>
                                <p></p>

                                <button class="btn btn-block btn-xs" ng-class="(cart[currentCategoryItem.key].key == option.key) ? 'btn-builder-active':'btn-default'" ng-click="selectOption(option, currentCategoryItem, true)">{{ (cart[currentCategoryItem.key].key == option.key) == true ? 'Vald' : 'Välj'; }}</button>

                            </div>
                        </div>
                    </div>
                    <!-- /item -->

                </div><!-- /row -->

                <!-- ** Full page item ** -->
                <div class="col-md-12" ng-repeat="option in itemOptions | onlyActive" ng-if="itemOptions.length === 1">

                    <div class="col-md-4">
                        <p></p>
                        <div><img class="img-responsive" ng-src="{{option.image}}" ng-click="zoomItemOption(option)"></div>
                    </div>

                <div class="panel panel-default">
                <div class="panel-body">
                    <p class="lead">{{option.title}}</p>
                    <p class="option-description">{{option.desc}}</p>
                    <p></p>
                    <div class="card-footer text-muted">

                        <div class="btn-group" id="toggle_event_editing">
                            <button type="button" class="btn" ng-class="(cart[currentCategoryItem.key].key == option.key) ? 'btn-builder-active':'btn-default'" ng-click="selectOption(option, currentCategoryItem, true)">Ja</button>
                            <button type="button" class="btn" ng-class="!(cart[currentCategoryItem.key].key == option.key) ? 'btn-builder-active':'btn-default'" ng-click="selectOption(option, currentCategoryItem, false)">Nej</button>
                        </div>
                        <span class="pull-right">Pris: {{htmlHelper.formatPrice(option.price)}} {{htmlHelper.priceSuffix()}}</span>
                    </div>
                    <p></p>
                </div>
                </div>
                </div>
                <!-- /full page item -->
            </div>

            <!-- your choices -->
            <div class="col-md-2" ng-if="customer">

                <div class="panel panel-default">

                    <div class="panel-heading">
                        Mina val
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <span ng-repeat="categoryItems in cart">
                                <span ng-repeat="item in categoryItems">
                                    <div ng-if="item != categoryItems.categoryTitle">
                                        <span class="small">{{item.categoryItemTitle}}</span><span class="pull-right small">{{htmlHelper.formatPrice(item.price)}} {{htmlHelper.priceSuffix()}}</span><br>
                                    </div>
                                </span>
                            </span>
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item" ng-if="totalPrice">
                            Total:<span class="pull-right">{{htmlHelper.formatPrice(totalPrice)}} {{htmlHelper.priceSuffix()}}</span>
                        </li>
                    </ul>
                </div>
                <!-- /dina val som ska synas -->

                <button class="btn btn-default pull-right" ng-click="toggleModal('summary')">Gå vidare</button>

            </div>

        </div>
    </div>

    <div id="lightbox-overlay" ng-show="displayLightbox" ng-click="displayLightbox = !displayLightbox"></div>
    <div id="lightbox" ng-show="displayLightbox">
        <div class="lightbox-close" ng-click="displayLightbox = !displayLightbox">x</div>
        <div class="lightbox-header">{{lightboxData.title}}</div>
        <div class="lightbox-content">
            <img class="lightbox-img" ng-src="{{lightboxImage}}">
        </div>
    </div>

    <modal class="project-summary-modal" title="Bekräfta dina val" visible="modalSummary">
        <form class="form-horizontal" role="form" name="customerForm" ng-disabled="customer.confirmed">
            <div class="row">

                <div class="col-xs-12 col-md-6">
                    <label>Namn <span>*</span>
                        <input type="text" class="form-control" placeholder="" ng-model="customer.customerOne" ng-change="customer.$save()">
                    </label>
                </div>

                <div class="col-xs-12 col-md-6">
                    <label>Bostadsnr <span>*</span>
                        <input type="text" class="form-control" placeholder="" ng-model="customer.appartmentnumber" ng-change="customer.$save()">
                    </label>
                </div>

                <div class="col-xs-12 col-md-6">
                    <label>Epost <span>*</span>
                        <input type="text" class="form-control" placeholder="" ng-model="customer.email" ng-change="customer.$save()">
                    </label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <label>Telefon <span>*</span>
                        <input type="text" class="form-control" placeholder="" ng-model="customer.phone" ng-change="customer.$save()">
                    </label>
                </div>

            </div>
            <hr>
        </form>

        <span ng-repeat="categoryItems in cartArray">
            <label>{{categoryItems.categoryTitle}}</label>
            <span ng-repeat="item in categoryItems">

                <div ng-if="categoryItems.categoryTitle != item">
                    {{item.categoryItemTitle}}: {{item.title}}<span class="pull-right">{{ htmlHelper.formatPrice(item.price) + htmlHelper.priceSuffix()}}</span><br>
                </div>
            </span>
        </span>

        <hr>
        <span ng-if="totalPrice">
            <label>Totalt:</label><span class="pull-right">{{htmlHelper.formatPrice(totalPrice)}} {{htmlHelper.priceSuffix()}}</span>
        </span>

        <div class="row">
            <div class="col-xs-12 text-right" ng-show="!customerConfirmInfo">
                <p></p>
                <button class="btn btn-default m-t-10" ng-click="customerConfirmInfo = true">Bekräfta</button>
            </div>
            <div class="col-xs-12 text-right" ng-show="customerConfirmInfo">
                <label stlye="margin-right: 3px" class="m-t-10">Detta är slutgiltigt, är ni säkra?</label>
                <button stlye="margin-right: 3px" class="btn btn-default m-t-10" ng-click="saveAndConfirm()">Ja</button>
                <button class="btn btn-default m-t-10" ng-click="customerConfirmInfo = false">Nej</button>
            </div>
        </div>
    </modal>

</div>
