<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>landing</title>

    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../app/css/landing.css">


</head>
<body>


<div class="container">

    <!-- header section -->
    <div class="page-header">
        <div class="row">
                <div class="col-md-5">
                    <img src="http://www.hsbhbg.se/~/media/Subsites/Gustavslund/Logotype%202%20Gustavslund.gif" alt="" width="202px">
                    <h1>HSB GUSTAVSLUND</h1>
                </div>
                <div class="col-md-7">
                    <img src="http://www.hsbhbg.se/~/media/Subsites/Gustavslund/Exterior-1-610.jpg?mw=810&w=610" width="100%" height="200px" alt="">
                </div>
        </div>

    </div>

    <!-- Site -->
    <div class="row">

        <!-- Left col -->
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Vitvaror</div>
                <ul class="list-group">
                    <a href class="list-group-item">Kyl</a>
                    <a href class="list-group-item">Frys</a>
                    <a href class="list-group-item">Kyl</a>
                    <a href class="list-group-item">Kyl</a>
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Sovrum</div>
                <ul class="list-group">
                    <a href class="list-group-item">Kyl</a>
                    <a href class="list-group-item">Kyl</a>
                    <a href class="list-group-item">Kyl</a>
                    <a href class="list-group-item">Kyl</a>
                </ul>
            </div>
        </div>

        <!-- MAIN CONT -->
        <div class="col-md-8">

            <!-- one item -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><img ng-src="http://skenderovic.se/tillval/Kök/Kyl/QR2212W.png" class="img-responsive" src="http://skenderovic.se/tillval/Kök/Kyl/QR2212W.png"></div>
                    <div class="panel-body">
                        <p class="lead ng-binding">QR2212W</p>
                        <p class="ng-binding">Ännu mer text här Ännu mer text här Ännu mer text här Ännu mer text här Ännu mer text här</p>
                        <p>
                        </p><div class="card-footer text-muted">
                        <button class="btn btn-builder-active" ng-class="(currentCategory.selectedOption == option) ? 'btn-builder-active':'btn-builder'" ng-click="pick(option, currentCategory)">Välj</button>
                        <span class="pull-right ng-binding">Pris: 0</span>
                    </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- /one item -->

            <!-- one item -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><img ng-src="http://skenderovic.se/tillval/Kök/Kyl/QR2212W.png" class="img-responsive" src="http://skenderovic.se/tillval/Kök/Kyl/QR2212W.png"></div>
                    <div class="panel-body">
                        <p class="lead ng-binding">QR2212W</p>
                        <p class="ng-binding">Ännu mer text här Ännu mer text här Ännu mer text här Ännu mer text här Ännu mer text här</p>
                        <p>
                        </p><div class="card-footer text-muted">
                        <button class="btn btn-builder" ng-class="(currentCategory.selectedOption == option) ? 'btn-builder-active':'btn-builder'" ng-click="pick(option, currentCategory)">Välj</button>
                        <span class="pull-right ng-binding">Pris: 0</span>
                    </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- /one item -->

            <!-- one item -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><img ng-src="http://skenderovic.se/tillval/Kök/Kyl/QR2212W.png" class="img-responsive" src="http://skenderovic.se/tillval/Kök/Kyl/QR2212W.png"></div>
                    <div class="panel-body">
                        <p class="lead ng-binding">QR2212W</p>
                        <p class="ng-binding">Ännu mer text här Ännu mer text här Ännu mer text här Ännu mer text här Ännu mer text här</p>
                        <p>
                        </p><div class="card-footer text-muted">
                        <button class="btn btn-builder" ng-class="(currentCategory.selectedOption == option) ? 'btn-builder-active':'btn-builder'" ng-click="pick(option, currentCategory)">Välj</button>
                        <span class="pull-right ng-binding">Pris: 0</span>
                    </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- /one item -->

            <!-- one item -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><img ng-src="http://skenderovic.se/tillval/Kök/Kyl/QR2212W.png" class="img-responsive" src="http://skenderovic.se/tillval/Kök/Kyl/QR2212W.png"></div>
                    <div class="panel-body">
                        <p class="lead ng-binding">QR2212W</p>
                        <p class="ng-binding">Ännu mer text här Ännu mer text här Ännu mer text här Ännu mer text här Ännu mer text här</p>
                        <p>
                        </p><div class="card-footer text-muted">
                        <button class="btn btn-builder" ng-class="(currentCategory.selectedOption == option) ? 'btn-builder-active':'btn-builder'" ng-click="pick(option, currentCategory)">Välj</button>
                        <span class="pull-right ng-binding">Pris: 0</span>
                    </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- /one item -->

            <!-- one item -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><img ng-src="http://skenderovic.se/tillval/Kök/Kyl/QR2212W.png" class="img-responsive" src="http://skenderovic.se/tillval/Kök/Kyl/QR2212W.png"></div>
                    <div class="panel-body">
                        <p class="lead ng-binding">QR2212W</p>
                        <p class="ng-binding">Ännu mer text här Ännu mer text här Ännu mer text här Ännu mer text här Ännu mer text här</p>
                        <p>
                        </p><div class="card-footer text-muted">
                        <button class="btn btn-builder" ng-class="(currentCategory.selectedOption == option) ? 'btn-builder-active':'btn-builder'" ng-click="pick(option, currentCategory)">Välj</button>
                        <span class="pull-right ng-binding">Pris: 0</span>
                    </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- /one item -->

            <!-- one item -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><img ng-src="http://skenderovic.se/tillval/Kök/Kyl/QR2212W.png" class="img-responsive" src="http://skenderovic.se/tillval/Kök/Kyl/QR2212W.png"></div>
                    <div class="panel-body">
                        <p class="lead ng-binding">QR2212W</p>
                        <p class="ng-binding">Ännu mer text här Ännu mer text här Ännu mer text här Ännu mer text här Ännu mer text här</p>
                        <p>
                        </p><div class="card-footer text-muted">
                        <button class="btn btn-builder" ng-class="(currentCategory.selectedOption == option) ? 'btn-builder-active':'btn-builder'" ng-click="pick(option, currentCategory)">Välj</button>
                        <span class="pull-right ng-binding">Pris: 0</span>
                    </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- /one item -->

        </div>



        <!-- your choices -->
        <div class="col-md-2">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dina val</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        Kyl: <span class="pull-right">100:-</span><br>
                        Frys: <span class="pull-right">100:-</span><br>
                        Kyl: <span class="pull-right">100:-</span><br>
                        Kyl: <span class="pull-right">100:-</span><br>
                        Kyl: <span class="pull-right">100:-</span><br>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">
                        Total:<span class="pull-right ng-binding">2030:-</span>
                    </li>
                </ul>
            </div>

            <button class="btn btn-builder-link pull-right">Gå vidare</button>

        </div>

    </div>


</div>


</body>
</html>