<div class="home-wrapper">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <h1 class="navbar-brand" style="margin-top:0px; margin-bottom: 0px;">TIVAL</h1>
                    <div style="float:right;right:0;">
                        <a style="color:#FFF;cursor:pointer;" href="https://tival-admin.firebaseapp.com">A</a>
                    </div>
                </div>

            </nav>
            <div class="col-md-12">
                <div class="row content-top">
                    <div class="col-md-3 col-md-offset-3">
                        <img src="/assets/tival-logo-rgb-white.png" alt="Tillvalshantering" width="202px">
                        <h2>Vi erbjuder digitala verktyg och lösningar för tillvalshantering</h2>
                    </div>
                    <div class="col-md-3">
                        <div class="well well-white" style="text-align:center;">
                            <h3>Prova vår demoversion kostnadsfritt</h3>
                            <form ng-submit="requestDemo(data)">
                                <div class="form-group">
                                    <input ng-model="data.name" type="text" class="form-control" placeholder="Namn *" ng-disabled="inputDisabled" required>
                                </div>
                                <div class="form-group">
                                    <input ng-model="data.epost" type="email" class="form-control" placeholder="Epost *" ng-disabled="inputDisabled" required>
                                </div>
                                <div class="form-group">
                                    <input ng-model="data.tele" type="text" class="form-control" placeholder="Telefonnummer *" ng-disabled="inputDisabled" required>
                                </div>
                                <div class="form-group">
                                    <input ng-model="data.company" type="text" class="form-control" placeholder="Företagsnamn *" ng-disabled="inputDisabled" required>
                                </div>
                                <button type="submit" class="btn btn-lg" ng-class="!inputDisabled ? 'btn-info' : 'btn-success'" ng-disabled="inputDisabled">{{demoBtn}}</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row content-bottom">
                    <div class="col-md-4 col-md-offset-3">
                        <h3>
                            Vad är Tival?
                        </h3>
                        <p>
                            Tival är ett digitalt verktyg för administrering av tillvalsprocessen vid försäljning av nyproducerade bostäder. Tival ersätter traditionella metoder som ex. pappersblanketter vilket frigör tillvalshanterarens tid.
                        </p>
                        <h3>
                            Hur fungerar Tival?
                        </h3>
                        <p>
                            Tival visar överskådligt vilka tillval och standardval som köparen har att välja mellan samt hur lång tid man har på sig att göra valen. Köparen gör sina val direkt i webbapplikationen och ser hur kostnaderna summeras. Tillvalen sköts helt och hållet digitalt vilket innebär att projektets tillvalshanterare inte längre behöver skicka ut pappersblanketter. När tillvalen är gjorda och bekräftade får köparen och tillvalshanteraren var sin orderbekräftelse.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <h3>Om oss på Tival</h3>
                        <p>
                            Vi som arbetar på Tival har bakgrund från både bygg- och IT-branschen och genom att kombinera våra erfarenheter har vi utvecklat Tival till ett digitalt verktyg för tillvalshantering. Vi erbjuder helhetslösningar i tillvalsprocessen vid försäljning av nyproducerade bostäder. Tival förenklar det administrativa pappersarbetet för er tillvalshanterare och säkerställer att köparna får rätt produkt till rätt kostnad.
                        </p>
                        <h3>Kontakta oss</h3>
                        <p>
                            Mail: info@tival.se
                        </p>
                    </div>

                    <!--
                    <div class="col-md-7 col-md-offset-3" style="border-bottom:1px solid #ccc;margin-bottom:40px;margin-top:20px;">
                        <ul class="nav nav-tabs">
                            <li ng-class="(currentTab == 'tab1') ? 'active' : '' ">
                                <a ng-click="currentTab = 'tab1'">Köpare gör sina val</a>
                            </li>
                            <li ng-class="(currentTab == 'tab2') ? 'active' : '' ">
                                <a ng-click="currentTab = 'tab2'">Köparens val byggs upp i en sammanfattning</a>
                            </li>
                            <li ng-class="(currentTab == 'tab3') ? 'active' : '' ">
                                <a ng-click="currentTab = 'tab3'">Köpare bekräftar sina val</a>
                            </li>
                        </ul>

                        <div ng-if="currentTab == 'tab1'">
                            <p></p>
                            <img src="https://firebasestorage.googleapis.com/v0/b/project-8799195801841300390.appspot.com/o/howto%2Fflow.gif?alt=media&token=4a236de9-9e66-4669-810e-35bd73ae936a" alt="" />
                        </div>

                        <div ng-if="currentTab == 'tab2'">
                            <p></p>
                            <img src="https://firebasestorage.googleapis.com/v0/b/project-8799195801841300390.appspot.com/o/howto%2Fcart.gif?alt=media&token=5eb31042-fdc8-455c-b146-c7a26d895576" alt="" />
                        </div>

                        <div ng-if="currentTab == 'tab3'">
                            <p></p>
                            <img src="https://firebasestorage.googleapis.com/v0/b/project-8799195801841300390.appspot.com/o/howto%2Ffinal.gif?alt=media&token=37e4fb08-044e-4c97-b45b-3749d015efd4" alt="" />
                        </div>
                    </div>-->
                </div>
            </div>

        </div>
    </div>
</div>